@import "../variables";


.sushi-block {
  width: auto;
  max-width: 250px;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: all 0.2s ease-in-out;
  @media (min-width: 850px) {
    &:hover {
      transform: scale(1.03);
    }
  }

  &__skeleton {
    width: auto;
    max-width: 250px;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    @media (min-width: 850px) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }

  h4 {
    font-size: 19px;
    text-wrap: balance;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }


  &__weight {
    color: #5a6a70;
    font-size: 14px;
    font-weight: 500;
  }

  &__image {
    width: 250px;
    height: 150px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  &__calories {
    font-size: 12px;
    line-height: 21px;
    color: white;
    background: #334853;
    width: 200px;
    border-radius: 5%;

    b {
      color: white;
    }

    th {
      border-bottom: white 1px solid;
      text-align: start;
    }
  }

  &__selector {
    display: flex;
    justify-items: flex-end;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    flex: 1;

    p {
      margin-left: 15px;
      text-align: start;
      flex: 1;
      text-wrap: balance;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 40px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;

    &__product {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.015em;
      text-align: center;
    }
  }
}

.popup-arrow {
  display: none;
}
